WCF_Nhom_8_Final01/WebForm/Service References/TonKhoServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
  <xs:element name="SoLuongTonKho_SPID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoLuongTonKho_SPIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoLuongTonKho_SPIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiTonKho">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HienThiTonKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="HienThiTonKhoResult" nillable="true" type="q1:ArrayOfTonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_SPID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="tk" nillable="true" type="q2:TonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_SPIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="TimKiemTonKho_SPIDResult" nillable="true" type="q3:ArrayOfTonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_ThoiGian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_ThoiGianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="TimKiemTonKho_ThoiGianResult" nillable="true" type="q4:ArrayOfTonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_Ngay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngaytu" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ngayden" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_NgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="TimKiemTonKho_NgayResult" nillable="true" type="q5:ArrayOfTonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_SoLuongTon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="k" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTonKho_SoLuongTonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="TimKiemTonKho_SoLuongTonResult" nillable="true" type="q6:ArrayOfTonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_Moi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="tk" nillable="true" type="q7:TonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_MoiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_Nhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="tk" nillable="true" type="q8:TonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_NhapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_Xuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="tk" nillable="true" type="q9:TonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them_XuatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Xoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="tk" nillable="true" type="q10:TonKho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>