WCF_Nhom_8_Final01/WebForm/Service References/NguoiDungServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NguoiDungService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INguoiDungService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_Them_InputMessage">
    <wsdl:part name="parameters" element="tns:Them" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_Them_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_DangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:DangNhap" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_DangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_ThongTinNguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongTinNguoiDung" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_ThongTinNguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongTinNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_ThongTinNguoiDung_ID_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongTinNguoiDung_ID" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_ThongTinNguoiDung_ID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongTinNguoiDung_IDResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_CapNhatThongTin_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatThongTin" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_CapNhatThongTin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatThongTinResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_DoiMatKhau_InputMessage">
    <wsdl:part name="parameters" element="tns:DoiMatKhau" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_DoiMatKhau_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoiMatKhauResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_KT_MatKhau_InputMessage">
    <wsdl:part name="parameters" element="tns:KT_MatKhau" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_KT_MatKhau_OutputMessage">
    <wsdl:part name="parameters" element="tns:KT_MatKhauResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_IsEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmail" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_IsEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailResponse" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_IsTenDangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTenDangNhap" />
  </wsdl:message>
  <wsdl:message name="INguoiDungService_IsTenDangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTenDangNhapResponse" />
  </wsdl:message>
  <wsdl:portType name="INguoiDungService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/DoWork" message="tns:INguoiDungService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/DoWorkResponse" message="tns:INguoiDungService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Them">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/Them" message="tns:INguoiDungService_Them_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/ThemResponse" message="tns:INguoiDungService_Them_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/DangNhap" message="tns:INguoiDungService_DangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/DangNhapResponse" message="tns:INguoiDungService_DangNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongTinNguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/ThongTinNguoiDung" message="tns:INguoiDungService_ThongTinNguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/ThongTinNguoiDungResponse" message="tns:INguoiDungService_ThongTinNguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongTinNguoiDung_ID">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/ThongTinNguoiDung_ID" message="tns:INguoiDungService_ThongTinNguoiDung_ID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/ThongTinNguoiDung_IDResponse" message="tns:INguoiDungService_ThongTinNguoiDung_ID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatThongTin">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/CapNhatThongTin" message="tns:INguoiDungService_CapNhatThongTin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/CapNhatThongTinResponse" message="tns:INguoiDungService_CapNhatThongTin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/DoiMatKhau" message="tns:INguoiDungService_DoiMatKhau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/DoiMatKhauResponse" message="tns:INguoiDungService_DoiMatKhau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KT_MatKhau">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/KT_MatKhau" message="tns:INguoiDungService_KT_MatKhau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/KT_MatKhauResponse" message="tns:INguoiDungService_KT_MatKhau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/IsEmail" message="tns:INguoiDungService_IsEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/IsEmailResponse" message="tns:INguoiDungService_IsEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTenDangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/INguoiDungService/IsTenDangNhap" message="tns:INguoiDungService_IsTenDangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INguoiDungService/IsTenDangNhapResponse" message="tns:INguoiDungService_IsTenDangNhap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INguoiDungService" type="tns:INguoiDungService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/Them" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangNhap">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/DangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongTinNguoiDung">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/ThongTinNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongTinNguoiDung_ID">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/ThongTinNguoiDung_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatThongTin">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/CapNhatThongTin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoiMatKhau">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/DoiMatKhau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KT_MatKhau">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/KT_MatKhau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmail">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/IsEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTenDangNhap">
      <soap:operation soapAction="http://tempuri.org/INguoiDungService/IsTenDangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NguoiDungService">
    <wsdl:port name="BasicHttpBinding_INguoiDungService" binding="tns:BasicHttpBinding_INguoiDungService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServices/NguoiDungService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>