WCF_Nhom_8_Final01/WinForm/Service References/CtPhieuNhapServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CtPhieuNhapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICtPhieuNhapService_HienThiCtPhieuNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiCtPhieuNhap" />
  </wsdl:message>
  <wsdl:message name="ICtPhieuNhapService_HienThiCtPhieuNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiCtPhieuNhapResponse" />
  </wsdl:message>
  <wsdl:message name="ICtPhieuNhapService_KiemTraMaPhieuNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraMaPhieuNhap" />
  </wsdl:message>
  <wsdl:message name="ICtPhieuNhapService_KiemTraMaPhieuNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraMaPhieuNhapResponse" />
  </wsdl:message>
  <wsdl:message name="ICtPhieuNhapService_Them_InputMessage">
    <wsdl:part name="parameters" element="tns:Them" />
  </wsdl:message>
  <wsdl:message name="ICtPhieuNhapService_Them_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemResponse" />
  </wsdl:message>
  <wsdl:portType name="ICtPhieuNhapService">
    <wsdl:operation name="HienThiCtPhieuNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICtPhieuNhapService/HienThiCtPhieuNhap" message="tns:ICtPhieuNhapService_HienThiCtPhieuNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICtPhieuNhapService/HienThiCtPhieuNhapResponse" message="tns:ICtPhieuNhapService_HienThiCtPhieuNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraMaPhieuNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICtPhieuNhapService/KiemTraMaPhieuNhap" message="tns:ICtPhieuNhapService_KiemTraMaPhieuNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICtPhieuNhapService/KiemTraMaPhieuNhapResponse" message="tns:ICtPhieuNhapService_KiemTraMaPhieuNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Them">
      <wsdl:input wsaw:Action="http://tempuri.org/ICtPhieuNhapService/Them" message="tns:ICtPhieuNhapService_Them_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICtPhieuNhapService/ThemResponse" message="tns:ICtPhieuNhapService_Them_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICtPhieuNhapService" type="tns:ICtPhieuNhapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiCtPhieuNhap">
      <soap:operation soapAction="http://tempuri.org/ICtPhieuNhapService/HienThiCtPhieuNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraMaPhieuNhap">
      <soap:operation soapAction="http://tempuri.org/ICtPhieuNhapService/KiemTraMaPhieuNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them">
      <soap:operation soapAction="http://tempuri.org/ICtPhieuNhapService/Them" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CtPhieuNhapService">
    <wsdl:port name="BasicHttpBinding_ICtPhieuNhapService" binding="tns:BasicHttpBinding_ICtPhieuNhapService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServices/CtPhieuNhapService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>